
@using FashionShop.Models
@using PagedList.Mvc
@model PagedList.PagedList<FashionShop.Models.SACH>

@helper Truncate(String input, int length) 
{
if (input.Length < length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}

@{
    ViewBag.Title = "laySach";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>laySach</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" border="1">
    <tr>
        <th style="width:200px">
            @Html.DisplayNameFor(model => model.First().Tensach)
        </th>
        <th style="width:100px">
            @Html.DisplayNameFor(model => model.First().Giaban)
        </th>
        <th style="width:300px">
            @Html.DisplayNameFor(model => model.First().Mota)
        </th>
        <th style="width:120px">
            @Html.DisplayNameFor(model => model.First().Anhbia)
        </th>
        <th style="width:150px">
            @Html.DisplayNameFor(model => model.First().Ngaycapnhat)
        </th>
        <th style="width:120px">
            @Html.DisplayNameFor(model => model.First().Soluongton)
        </th>
        <th style="width:120px">
           Ten chu de
        </th>
        <th style="width:100px">
            Ten NXB
        </th>
        <th style="width:200px"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tensach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Giaban)
            </td>
            <td>
                @Truncate(item.Mota, 3)
            </td>
            <td>
                <img alt="@item.Tensach" src="@Url.Content("~/Hinh/"+item.Anhbia)" width="200" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaycapnhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soluongton)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CHUDE.TenChuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NHAXUATBAN.TenNXB)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Masach }) |
                @Html.ActionLink("Details", "Details", new { id = item.Masach }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Masach })
            </td>
        </tr>
    }

</table>
<div>
    Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber) / @Model.PageCount
</div>
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("laySach", new { page = page }))
</div>
<style>
    .MenuTrang {
        display: inline;
    }
</style>