@using FashionShop.Models
@model List<Giohang>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width : 84%;
        margin-top:30px;
        
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

</style>
<h2 style="text-align:center">Thông Tin Giỏ Hàng</h2>
<table>
    <tr>
        <td> Mã Sách </td>
        <td> Tên Sách </td>
        <td> Ảnh bìa </td>
        <td> Số Lượng </td>
        <td> Đơn Giá </td>
        <td> Thành Tiền </td>
        <td width="50px"></td>
        <td width="50px"></td>
        <td width="50px"></td>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td> @item.iMasach </td>
            <td> @item.sTensach </td>
            <td> <img style="height:100px" src="~/Hinh/@item.sAnhbia" /> </td>
            @using (Html.BeginForm("CapnhatGiohang", "Giohang", new { @MaSP = item.iMasach }))
            {
                <td> <input type="number" min="1" name="txtSoLuong" value="@item.iSoluong" style="background-color:yellow"/></td>
                <td> @string.Format("{0:0,0}", item.dDongia) </td>
                <td> @string.Format("{0:0,0}", item.dThanhtien) </td>
                <td>
                    <a href="@Url.Action("Details", "Bookstore", new { id = item.iMasach }) "> Chi Tiết </a>
                </td>

                <td> @Html.ActionLink("Xóa", "XoaGiohang", new { @iMaSp = item.iMasach }) </td>
                <td> <input type="submit" value="Cập Nhật" /> </td>
            }
            </tr>
        }
        <tr>

            <td colspan="4"> Số Lượng Sách: @ViewBag.Tongsoluong </td>
            <td colspan="5"> Tổng Tiền  @String.Format("{0:0,0}", ViewBag.Tongtien) VND </td>
        </tr>
    <tr style="font-weight:bold; color:blue; text-align:center">
        <td colspan="9">
            @Html.ActionLink("Xóa Giỏ Hàng", "xoaTatCaGioHang")
        </td>
    </tr>
    <tr style="font-weight: bold; color:blue; text-align:right">
        <td colspan="9" align="center">
            @Html.ActionLink("Đặt Hàng", "DatHang", "GioHang")
        </td>
    </tr>

    </table>

